.gridContainer {
	display: grid;
	grid-template-columns: 100px repeat(17, 1fr);
    gap: 10px;
}
.gridContainer > button {
	cursor: pointer;
   
}
@media (min-width: 1200px) {
	.gridContainer {
		grid-template-columns: 160px repeat(17, 1fr);
	}
}
