.musicButton {
	border: none;
	border-radius: 10px;
	/* background-color: var(--secondColor); */
	box-shadow: -2px -2px 13px rgba(255, 255, 255, 0.8),
		5px 5px 13px rgba(0, 0, 0, 0.15);
	height: 100%;
	width: 100%;
}
.active{
	background-color: var(--fifthColor);
}
.disActive{
	background-color: var(--secondColor);
}