.gridContainer {
	display: grid;
	grid-template-columns: 100px repeat(17, 1fr);
	grid-template-rows: repeat(7, 1fr);
	gap: 10px;
}
.gridItem {
	height: 60px;
	list-style: none;
}

@media (min-width: 1200px) {
	.gridContainer {
		grid-template-columns: 160px repeat(17, 1fr);
	}
}
